#main-display {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Play', sans-serif;
  font-size: 150px;
}

.statusColor.running-color {
	color: green;
}

.statusColor.broken-color {
	color: red;
}

#record-container {
	margin-top: 50px;
	font-size: 	50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}